[2021-11-30 13:34] anasereijo opened #1187 "Charmhub.io - Library name should be the file's name"
The [design](https://app.zeplin.io/project/5f92a9530029eeac84ae9589/screen/601928c0780bfe0acf316da6) for this is ready and signed off but wasn't implemented.

The name (h2) of a library should be the file's name as intended in the design. Example below:

how it currently looks like:
<img width="1190" alt="Screenshot 2021-11-30 at 13 29 43" src="https://user-images.githubusercontent.com/36884067/14

[2021-11-30 13:37] anasereijo opened #1188 "Charmhub.io Libraries - Side nav doesn’t represent the folder structure as intended in the design"
this was designed and signed off but never got implemented.

check [design](https://app.zeplin.io/project/5f92a9530029eeac84ae9589/screen/601928c0780bfe0acf316da6)

[2021-11-30 16:08] anasereijo opened #1189 "charmhub.io /libraries icons are overlaying tooltip"
<img width="738" alt="Screenshot 2021-11-30 at 15 26 44" src="https://user-images.githubusercontent.com/36884067/144083834-7e2850f4-16a7-49a7-9f64-ec39e37633a7.png">

[2021-12-01 11:46] anasereijo opened #1190 "charmhub.io - Footer link not working"
Go to the footer and click <What is Charmhub?> - doesn't link anywhere.

https://user-images.githubusercontent.com/36884067/144228823-22657ee6-e297-4901-8c90-4460a76ff70d.mov

[2021-12-01 14:50] jkfran commented on #1175
Hi @gruyaume, I spoke with @matiasb about it and they are currently working on an issue with Candid for users that didn't authenticate before on Charmhub. So, it is probably the reason for this issue and why we can't reproduce it.

I'll keep you updated.

[2021-12-02 09:05] steverydz commented on #1190
Where should this link to? The about page?

[2021-12-02 09:40] steverydz opened #1193 "The copy doc extension doesn't work"

[2021-12-02 12:34] anasereijo opened #1194 "search results for Mattermost displays 2 results for the same link"
I searched for Mattermost and got 3 search results:

<img width="1418" alt="Screenshot 2021-12-02 at 12 17 22" src="https://user-images.githubusercontent.com/36884067/144421710-603c1282-3d7e-4e3e-801b-bbec4cfceee0.png">

at first look, the first 2 results look very similar, but the authors are different: the first one is by Mattermost Charmers and the second one is by Paul Collins. When overlaying

[2021-12-02 14:01] #1186 closed

[2021-12-02 14:07] anasereijo commented on #1190
[copydoc](https://docs.google.com/document/d/1mps4SOa8_DA25fccYor3wxwV3ulQiD-uaocDHmaGmhw/edit)

[2021-12-02 15:34] #1193 closed

[2021-12-02 17:04] anasereijo commented on #1190
asked David Booth

[2021-12-02 20:37] hatched commented on #1194
There is a hardcoded redirect for these charms.

https://github.com/canonical-web-and-design/charmhub.io/blob/90b47f7c47c0a011a381832e0b6b637ddee93b8c/redirects.yaml#L3

[2021-12-03 09:17] #1165 closed

[2021-12-03 13:59] jkfran commented on #1194
Hi @Roadmaster, do you know if `mattermost-charmers-mattermost` can be removed from the store? I think I was asked by you or @mthaddon to set up this redirection.

[2021-12-03 15:45] Roadmaster commented on #1194
mattermost-charmers-mattermost is imported from https://jaas.ai/u/mattermost-charmers/mattermost, and as a rule we don't remove or change visibility status from imported charms as it will cause breakage when accessing the charm via the compatibility API. Someone might want to deploy the old charm as well, and removing it will prevent them from doing so.

The cause of the confusing "when clicking,

[2021-12-03 15:50] jkfran commented on #1194
Okay, [this is the issue](https://github.com/canonical-web-and-design/charmhub.io/issues/1016) created by @mthaddon to set up the redirection. Let see his opinion on this.

[2021-12-03 16:11] mthaddon commented on #1194
The redirect was put in place because mattermost themselves refer to that "old" link (mattermost-charmers-mattermost) in a blog post, but the charm was renamed to mattermost-k8s and published directly on charmhub. As such we'd prefer the redirect to remain in place. Ideally if someone tried to deploy mattermost-charmers-mattermost they would get mattermost-k8s instead, and if this is true after ch

[2021-12-06 10:10] jkfran commented on #1187
Hey @steverydz, this name is not comming from the API. I think we are generating it. You can copy what we have here:
![image](https://user-images.githubusercontent.com/6353928/144827535-0839225b-ea32-49eb-a65d-7a877fd87a7e.png)

[2021-12-06 10:19] jkfran commented on #1194
Okay, so does it means that we need to leave as it is? Having two charms on the results and one redirecting to the other one is not nice.

[2021-12-06 10:43] #1187 closed

[2021-12-06 14:18] Roadmaster commented on #1194
HI there,

I was double-checking this and realized mattermost-charmers-mattermost should actually not be findable, because it's not promulgated on charmstore.

I will reimport the charm today, it should be done in about 1 hour. This should solve the findability issue.

As for Tom's request " Ideally if someone tried to deploy mattermost-charmers-mattermost they would get mattermost-k8s instead" -

[2021-12-06 15:24] Roadmaster commented on #1194
LOL. the reason mattermost-charmers-mattermost is findable is because it's among the set of featured charms (to appear in the front page).

Can you please confirm (@mthaddon or @jkfran ) that we don't want that charm featured anymore?

(if you go to the front page right now you won't see it though, because its package_id changed when I reimported it).

If you want it to be de-featured:

1- I remov

[2021-12-06 15:38] jkfran commented on #1194
@Roadmaster lol, I think feature mattermost-k8s instead is the right thing to do, @mthaddon ?

[2021-12-07 09:22] cristinadresch commented on #1188
@anasereijo @AnnSoMuller API is currently blocking this one, just wondering if you knew that or maybe we are unsure of this issue?

[2021-12-07 12:03] jkfran commented on #1175
Hi @gruyaume, could you check again? I was told today that Candid fixed the issue they were having.

[2021-12-07 12:24] #1143 closed

[2021-12-07 12:43] heitorPB commented on #1143
Thanks!

[2021-12-08 09:11] jkfran commented on #1194
I think we can close this issue now. Thank you all!

[2021-12-08 09:11] #1194 closed

[2021-12-08 09:20] #1148 closed

[2021-12-08 10:03] #1184 closed

[2021-12-08 10:05] #1128 closed

[2021-12-08 10:40] steverydz commented on #1149
No longer an issue as this was removed in https://github.com/canonical-web-and-design/charmhub.io/commit/a646671c77e2b417cf4ab15ff4b3c338ee62121d#diff-40da8801c467e66a3c6492f514a3750865f18a2399cb923365f7e7baf7bb93e8

[2021-12-08 10:40] #1149 closed

[2021-12-08 13:36] anasereijo commented on #1188
Oh, I thought the API was ready for this, thanks for letting us know @cristinadresch. Should we move this back to icebox or will this be ready to be worked on next iteration?

[2021-12-08 20:02] AnnSoMuller commented on #1188
This issue is about having Charms+the name of the charm in the navigation and then the different versions as sub categories.
<img width="365" alt="Screenshot 2021-12-08 at 21 01 02" src="https://user-images.githubusercontent.com/32699582/145276140-7b55d1b4-2f9a-47c1-9f3a-b2d6a7f4030f.png">
That can't be done because of API? We didn't know that

[2021-12-10 13:22] jkfran commented on #1175
I confirmed with @gruyaume on Mattermost that this issue is solved 👍🏽

[2021-12-10 13:22] #1175 closed

[2021-12-15 20:28] anthonydillon opened #1203 "Charmed k8s bundle has no platform"
If you visit https://charmhub.io/charmed-kubernetes you will see no platforms.

![image](https://user-images.githubusercontent.com/1413534/146260293-c80a312b-37e1-44c9-a9e9-cd18340ac963.png)

[2021-12-16 09:09] steverydz commented on #1203
@jkfran There is no platform data for this coming through to the template

[2022-01-04 16:17] #1121 closed

[2022-01-11 15:54] afreiberger commented on #826
bumping, as we can no longer fall back to using jaas.ai for this information now that it is auto-redirecting to charmhub.

Please see related issue #1049.

[2022-01-11 16:45] Gleland opened #1228 "https://charmhub.io/jaas yields 404 after migration"
Hello, we have some internal documentation that links to JAAS (https://jujucharms.com/jaas), and it looks like after the redirect changes, this now points users to https://charmhub.io/jaas, which shows a 404. Perhaps this should redirect to https://jaas.ai/jaas instead, or update the page to give the appropriate information? Thanks!

[2022-01-12 09:20] jkfran commented on #1228
@anthonydillon what do you think about this?

[2022-01-12 12:39] anthonydillon commented on #1228
Looks like there was a mistake in the logic. Will address today.

[2022-01-12 13:11] anthonydillon commented on #1228
Sorry missed read this. There have been no changes to the redirects on jujucharms. Is this a new redirect?

[2022-01-12 14:27] jkfran commented on #1228
@anthonydillon what's your opinion about changing the redirection to jaas.ai/jaas ? Is that the right place? I can change the redirection.

[2022-01-12 14:53] anthonydillon commented on #1228
Yes it should do. I have filed an RT to add this redirect rule to jujucharms.com.

[2022-01-12 15:08] anasereijo opened #1229 "UX: break out session prep"
preparation of the break out session for the mid-cycle roadmap sprint

[2022-01-12 15:08] anasereijo opened #1230 "UX: break out session prep"
preparation of the break out session for the mid-cycle roadmap sprint

[2022-01-14 09:23] cristinadresch commented on #1188
We spoke to Daniel Manrique about this and they don't find this solution necessary or feasible

[2022-01-14 09:23] #1188 closed

[2022-01-18 09:16] #1230 closed

[2022-01-18 11:20] jkfran commented on #1228
Closing this issue, thank you for reporting it.

[2022-01-18 11:20] #1228 closed

[2022-01-20 08:04] adglkh opened #1237 "Configurations are missing for all charms that are maintained by Anbox charmer"
For the following charms that are maintained by Anbox charmer

- AMS (ams)
- AMS Node Controller (ams-node-controller)
- Anbox Cloud Dashboard (anbox-cloud-dashboard)
- Anbox Stream Agent (anbox-stream-agent)
- Anbox Stream Gateway (anbox-stream-gateway)

The configurations for those charms are missing, please check the following link for example.
. https://charmhub.io/anbox-charmers-anbox-cloud/c

[2022-01-26 14:18] jkfran commented on #1237
The main issue is that the bundle.yaml for anbox-charmers-anbox-cloud is using the old charm names format, eg: `cs:~anbox-charmers/ams-104` and Charmhub is not able to translate that into the new name `anbox-charmers-ams`.

There are bundles using the new format that doesn't have this problem, like Kubeflow: https://github.com/canonical/bundle-kubeflow/blob/master/bundle-kubeflow.yaml#L4

[2022-01-27 14:04] jkfran opened #1240 "Channels dropdown missing"
This dropdown is missing after the Vanilla v3 upgrade:

![image](https://user-images.githubusercontent.com/6353928/151373981-3abdce9a-ddcb-4770-8295-9fd0d0b9bb6f.png)

[2022-01-27 15:45] #1240 closed

[2022-02-01 16:53] sed-i opened #1242 "Charmhub discourse urls do no go into browser's navigation history"
When navigating around in discourse.charmhub.io, the urls I visit to do not go into the browser's history: the back button remains grayed out all along.

[2022-02-01 17:50] jkfran commented on #1242
Hi @sed-i. I tried to reproduce this problem and it is not happening to me (Firefox and Chrome). Could you tell us what browser are you using and if it happening on other Discourses like https://forum.snapcraft.io or https://discourse.ubuntu.com/?

Thank you.

[2022-02-01 18:04] nobuto-m opened #1243 "Search by publisher doesn't work"
In `snapcraft.io`, searching with a publisher name returns a list of snaps.
https://snapcraft.io/search?q=publisher%3Asnapcrafters

However, in `charmhub.io` it returns nothing:
https://charmhub.io/?q=publisher%3Acharmers

[2022-02-01 22:54] sed-i commented on #1242
I got an email from charmhub with latest changes, and I clicked on `View topic`, for example:
- https://discourse.charmhub.io/t/olm-how-to-guides/5334/1
- https://discourse.charmhub.io/t/the-charmed-operator-lifecycle-manager-olm-docs/1087/1

From this point URLs do no go into history. Occasionally. I just noticed this happens only sometimes.
I thought it's related to my Firefox privacy addons but

[2022-02-02 10:23] jkfran commented on #1203
Hey @Roadmaster , we are not getting the `deployable-on` field for this one:
[code]

[2022-02-02 15:02] nobuto-m opened #1244 "No way to know one previous revision of a charm in a specific channel"
Let's say a new revision of a charm published to a stable channel had a regression unfortunately and broke something. A user would like to use one previous revision from the stable channel to recover an ability to add more units to a model for keep the business up and running.

Specifying a revision of a charm is possible either with:
`$ juju deploy ch:<charm> --channel stable --revision <revision

[2022-02-02 15:22] anthonydillon commented on #1242
It looks like this is a [bug in discourse](https://meta.discourse.org/t/back-button-history-not-properly-working/122183/8). Which was [fixed in 2.9](https://github.com/discourse/discourse/commit/de6edf9e4e5675db0e4bf13000402ec60ae01cd3). You can fix this content by adding the full link to content and not just the id to the topic.

[2022-02-02 15:22] #1242 closed

[2022-02-04 12:00] jkfran commented on #1243
Hi @nobuto-m

Thank you for opening this issue. I had to ask for this functionality to the API:
https://bugs.launchpad.net/snapstore-server/+bug/1960017

Unfortuanually we are blocked until the API supports this feature.

[2022-02-04 14:47] jkfran commented on #1244
Hi @nobuto-m ,

This repository is for the charmhub.io website. I think you want to report this issue to the juju CLI. You can report this to them here https://bugs.launchpad.net/juju/+filebug

Thank you.

[2022-02-04 14:53] nobuto-m commented on #1244
Juju command output is just an example of an presentation layer of the charmhub data (or its backend API). So I don't think it's a Juju issue tbh.

[2022-02-04 14:54] nobuto-m commented on #1244
Is there an API call I can try if I can get that kind of information from charmhub?

[2022-02-04 16:42] jameinel commented on #1244
I wouldn't consider this a bug in Juju or Charmhub, but a design decision on how Charmhub works.

Explicitly, each series and architecture build of a charm is a different revision (like snaps). So it isn't trivial to know "what is the previous 'amd64/bionic' revision for a charm".
We're having some discussion right now about possibly allowing clearer marking by the authors of a charm (possibly exp

[2022-02-04 18:33] nobuto-m commented on #1244
What about having a publishing history of a charm in `charmhub.io`? Something like what Launchpad has.
https://launchpad.net/ubuntu/+source/base-files/+publishinghistory

[2022-02-08 13:03] mthaddon opened #1247 "subordinate charm reporting incorrect series"
We have a charm, https://charmhub.io/ubuntu-advantage which has the following in its `metadata.yaml`:
[code]
Currently it only reports availability on 20.04, however.

[2022-02-08 13:05] mthaddon opened #1248 "subordinate charm not obviously listed as such"
I noticed that a subordinate charm such as https://charmhub.io/ubuntu-advantage doesn't have any indication that it's a subordinate. Is this intended? It feels like something that would be worth calling out explicitly, but let me know if we should simply make that more prominent in the documentation.

[2022-02-09 15:13] Roadmaster commented on #1203
[code]

Compare to:

[code]

[2022-02-09 15:19] Roadmaster commented on #1203
The logic for determining whether a bundle or charm is deployable in kubernetes is:
[code]

A charm must either have a containers section or "kubernetes" in its series (the latter is deprecated but a lot of legacy charms have it, so we do look at it). Bundles should have `bundle: kubernetes`.

In this case, kubeflow does have `bundle: kubernetes` but charmed-kubernetes does not, this is why we don

[2022-02-09 15:55] jkfran commented on #1248
Issue reported to the store team to expose this property:
https://bugs.launchpad.net/snapstore-server/+bug/1960423

[2022-02-10 10:31] jkfran commented on #1203
@Roadmaster

About the deployable-on: It will nice for us if we could rely on the `deployable-on` to differentiate between machine charms and k8s charms. At the moment is only working for k8s charm on your side. It's not a big deal but it will be good if the API could detect all the cases.

About the empty series: I understand why a bundle can't have series but then we have a Design issue on Charm

[2022-02-10 10:38] jkfran commented on #1203
Or should we just use the `series: focal` in the bundle.yaml to show there "Ubuntu 20.04"?

[2022-02-10 19:55] cjohnston1158 opened #1251 "Subnav blocking page content"
There is a subnav that is displayed on the page which is blocking the page content with no obvious way to hide it. Confirmed on Chrome and FF.

![containerd-charmhub](https://user-images.githubusercontent.com/24707086/153486275-db087a98-2e9c-479e-b04a-dc5ea877b114.png)

https://charmhub.io/containers-containerd/docs

[2022-02-11 09:24] cristinadresch commented on #1251
@cjohnston1158 this is fixed now, thanks for reporting it

[2022-02-11 09:24] #1251 closed

[2022-02-11 11:32] mcjaeger commented on #1126
Hi, actually I was wondering about the same today and occasions before: how about skipping some of the doc updates which are always placed at the top of the list?

On some days, the entire displayed list appeared to be full of doc updates, but in fact, I am more interested about postings which are non-doc to check if I could contribute to a discussion. please note that most of the time I am using

[2022-02-11 20:25] Ostars-eye opened #1253 "juju"

[2022-02-14 13:31] jkfran commented on #1244
Hi @nobuto-m , I think what you are describing is the history tab, we have an old mockup for it:

![image](https://user-images.githubusercontent.com/6353928/153872602-38c42c97-1e71-4d56-9943-3d9f80383f8e.png)

This history tab provides the information you mentioned on charmhub.io but unfortunately, we don't have allocated time to work on it yet.

[2022-02-14 13:38] mthaddon commented on #1248
Btw, this seems to be a duplicate of https://github.com/canonical-web-and-design/charmhub.io/issues/1015.

[2022-02-15 09:18] jkfran commented on #1253
I am going to close this issue, please provide more information.

[2022-02-15 09:18] #1253 closed

[2022-02-15 18:05] jkfran commented on #1015
I am going to leave here the comment as well, @Roadmaster mentioned that this could be a field on the info endpoint, here is the request:
https://bugs.launchpad.net/snapstore-server/+bug/1960423

[2022-02-15 18:06] jkfran commented on #1248
Thank you, we didn't notice it. I am going to close this issue as we have the other one.

[2022-02-15 18:06] #1248 closed

[2022-02-16 20:00] wolsen opened #1255 "Supported platforms for some charms are incorrect"
The [glance](https://charmhub.io/glance) charm display on charmhub is a bit confusing and odd.

For starters, the charm in the stable branch supports multiple series - xenial, bionic, focal, groovy, hirsute and impish however, the supported series for the charm only shows 16.04, 14.04, 12.04 and 16.10. It's missing 18.04 and 20.04.

![Screenshot from 2022-02-16 12-35-43](https://user-images.github

[2022-02-16 20:02] wolsen opened #1256 "Version dropdown is inconsistent"
The version dropdown for the [glance](https://charmhub.io/glance) charm is incorrect.

It correctly displays the 516 as the version. However, expanding the dropdown does not display the 516 version anywhere.

![Screenshot from 2022-02-16 12-35-43](https://user-images.githubusercontent.com/6308376/154346387-0a874ede-0556-481d-ab7b-57f221607eda.png)

![Screenshot from 2022-02-16 12-32-20](https://us

[2022-02-16 20:04] wolsen commented on #1256
Additionally, I just refreshed this page and the yoga/edge version now shows as 518

![Screenshot from 2022-02-16 13-04-39](https://user-images.githubusercontent.com/6308376/154346819-a3f1f447-64b4-4dd1-b898-025e1e411a8d.png)

[2022-02-16 22:15] Roadmaster commented on #1203
Hi there. `deployable-on` is meant to abstract the determination of which substrates a charm supports so it's done on the store side.

We can tell whether a charm is for kubernetes or not, but a non-kubernetes charm is not necessarily a machine charm (right now it is, but that might change in the future). So `deployable-on` doesn't provide information we're not certain about.

It's up to you if yo

[2022-02-16 23:05] jkfran commented on #1247
We are showing this property from the `default-release.revision.bases` field on the API, this is the call:
`https://api.charmhub.io/v2/charms/info/ubuntu-advantage?fields=default-release.revision.bases`

In this case, we are getting just Ubuntu 20.04.

[2022-02-18 11:57] #1256 closed

[2022-02-18 12:00] anasereijo opened #1259 "UX relation tab: create wireframes on Figma"
[FIGMA FILE](https://www.figma.com/file/EtqAgsBQJmOf9g4fbW3dP1/Charmhub---Integration-tab?node-id=9%3A881)

[2022-02-21 09:16] #1255 closed

[2022-02-22 16:09] anasereijo opened #1262 "UX relation tab: Write and publish discourse post"
Write and publish a discourse post with the wireframes asking for feedback from the community.
- publish post on [charmhub requets category](https://discourse.charmhub.io/c/charmhub-requests/46) and post a link to it on this [post about relations](https://discourse.charmhub.io/t/where-are-relations/5652)

[2022-02-22 17:30] anasereijo commented on #1262
@jkfran  @clagom could you please have a look and leave comments/suggestions?

[draft here](https://docs.google.com/document/d/1MJKXiqBZZIVS20kZ_fAU7X7OMoRUOmvF02ZCzLp7n4w/edit?usp=sharing)

in case you need to see the wireframes bigger [here is the link ](https://www.figma.com/file/EtqAgsBQJmOf9g4fbW3dP1/Charmhub---Integration-tab?node-id=0%3A1)

[2022-02-22 17:30] anasereijo commented on #1259
@clagom could you please have a look? https://www.figma.com/file/EtqAgsBQJmOf9g4fbW3dP1/Charmhub---Integration-tab?node-id=0%3A1

[2022-02-23 14:01] anasereijo commented on #1262
@clagom  @jkfran any thoughts? :D

[2022-02-23 14:05] jkfran commented on #1262
It looks fantastic to me. The design looks like a final version to me, but I am a bit worried about what the store team will deliver this cycle.

[2022-02-23 14:30] jkfran commented on #1247
We had many issues before (https://github.com/canonical-web-and-design/charmhub.io/issues/1073, https://github.com/canonical-web-and-design/charmhub.io/issues/1255) requesting us to show the right platform from the revision bases (`default-release.revision.bases`).

So I am not sure about the `series` in the metadata.yaml. Let me ask @Roadmaster

[2022-02-23 14:35] clagom commented on #1262
Looks great, thanks @anasereijo. I added just a minor comment. You also mention that this is part of a longer vision so that should set the expectations for V1 but still providing feedback on the final UX.

[2022-02-23 15:10] #1262 closed

[2022-02-23 17:24] #1259 closed

[2022-02-23 17:26] anasereijo opened #1263 "prep meeting/presentation about Relations"

[2022-02-24 14:09] jkfran commented on #1247
Looks like this property is deprecated anyway.

https://discourse.charmhub.io/t/charm-metadata-v2/3674

I am closing the issue unless it is completely necessary, feel free to reopen it.

[2022-02-24 14:09] #1247 closed

[2022-03-03 11:56] anasereijo commented on #1263
@clagom I prepped some slides for next week's presentation. Could you please let me know your thoughts?

[link](https://docs.google.com/presentation/d/1ha_vAoqDHTI3qln2DH1_MfRjfPoCXVyud6SdvVgx_fg/edit?usp=sharing)

[2022-03-03 13:14] clagom commented on #1263
I think it's good overall, I left some comments @anasereijo maybe we can have a quick chat before the meeting

[2022-03-07 16:19] sed-i opened #1267 "Search charms by interface name"
It would be very handy if charmhub would allow searching charms by interface name.

For example: searching `pgsql` would list `mattermost`.

One option is to split the search results into two sections:
- charm names matching the search string
- charms whose interface name matches the search string

[2022-03-08 10:29] #1104 closed

[2022-03-09 15:46] #1263 closed

[2022-03-10 12:45] jkfran opened #1271 "Search is ordered alphabetically when it shouldn't"

[2022-03-10 12:58] jkfran opened #1272 "Remove the Juju version warning and find a better solution"
Reported by @jnsgruk:

![image](https://user-images.githubusercontent.com/6353928/157666262-07cbe043-a6ee-4990-adfa-76a828c44961.png)

[2022-03-10 14:56] Lukewh opened #1274 "Implement charm not found design for the 404 pages at /embedded endpoint"
We could do this by either:
- Having a separate 404 page for these sub-resources
- Make the 404 page responsive

[2022-03-10 14:58] Lukewh opened #1275 "Design for Charm embedable cards for a charm that doesn't exist"
Currently, if someone attempts to embed a charm (or bundle) that doesn't exist, we show the default 404 page that doesn't fit or give the user any information that they attempted to view a charm (or bundle).

**Charm card for charmhub.io:**
First card works, second and third are broken.
![image](https://user-images.githubusercontent.com/479384/157688645-0897ebc2-041e-40fb-9c89-888373b60deb.png)

*

[2022-03-11 09:05] steverydz opened #1276 "Charmhub Maintenance 22-11"

[2022-03-11 12:20] #1004 closed

[2022-03-11 15:25] cristinadresch commented on #1275
Charm not found card design needed

[2022-03-11 15:26] cristinadresch commented on #1275
@spencerbygraves you think you would be able to look at this next iteration? we need a 404 page design that fits within a card size

[2022-03-15 09:25] #1271 closed

[2022-03-15 16:44] #622 closed

[2022-03-16 11:18] jkfran opened #1282 "Add support for Discourse redirects on topic pages"

[2022-03-16 11:21] #1282 closed

[2022-03-16 14:54] anasereijo opened #1285 "Homepage- it is not clear that we can use filters for topics on small screens"
on mobile view, filters are displayed after topic pages cards making it unclear that the user is also filtering those. maybe we should move the filters just before the topics?

<img width="394" alt="Screenshot 2022-03-16 at 14 49 23" src="https://user-images.githubusercontent.com/36884067/158618947-fe811ebc-3808-44c7-b085-778bd2135ba6.png">

[2022-03-16 14:57] anasereijo opened #1286 "/topics/topic - contribute with a topic button should be left aligned on small screens"
<img width="399" alt="Screenshot 2022-03-16 at 14 43 28" src="https://user-images.githubusercontent.com/36884067/158619455-1e7efc54-ddf1-4921-9eb2-379e34ea1977.png">

[2022-03-16 15:08] anasereijo opened #1287 "/topics/topic - cards are not full width as per other pages on the website (small screens)"
On small screens, cards on topic pages are not displayed full width as per other cards on charmhub.io (eg. homepage).
For consistency, and also aesthetics, I suggest making them full width

### How it looks like
<img width="395" alt="Screenshot 2022-03-16 at 14 45 54" src="https://user-images.githubusercontent.com/36884067/158622047-1222065d-78aa-4af4-9eb6-b978fd31e320.png">

### How cards look on

[2022-03-18 09:24] Lukewh commented on #1285
Flip reverse them - Filters then topics :+1:

[2022-03-18 10:52] Lukewh opened #1288 "Topic page filtering improvements"
- Disable any filter without any related topics.
- If visiting a topic page with a filter pre-applied and there are not topics (https://charmhub.io/topics?filters=security) remove the filter and show all topics

[2022-03-18 10:53] Lukewh opened #1289 "Homepage topics area improvements"
If there are less than 3 topics to show for a category, populate the missing items with the first 3 topics from the list of topics.

[2022-03-18 15:58] #1288 closed

[2022-03-22 13:48] Lukewh opened #1293 "Clearing search doesn't reset search"
Works fine if you click the button, but not if you clear with the keyboard

![search-clear](https://user-images.githubusercontent.com/479384/159496207-e11a9330-961c-4be2-a531-f12d56881c49.gif)

[2022-03-22 14:15] Lukewh commented on #1275
@spencerbygraves has promised me he'll do it on Thursday. He said if he doesn't he knows he'll be disappointing both himself and the rest of the team.
No pressure.

[2022-03-22 14:23] spencerbygraves commented on #1275
:sob:

[2022-03-22 14:55] #1289 closed

[2022-03-22 19:14] afreiberger opened #1296 "Overview should include anchors for Markdown reference links to headers"
When viewing the documentation for charm nova-compute, there is reference in the documentation to the Availability Zones section of the document.  this uses Markdown Links to render links to section headers.

https://raw.githubusercontent.com/openstack/charm-nova-compute/master/README.md

We should ensure that each Markdown header gets an anchor tag that can be used for deep dive through large cha

[2022-03-22 22:13] anthonydillon opened #1297 "Charmhub login uses old API and 502's"
To replicate:
1. Go to https://charmhub.io
2. Click "Sign In" in the header
3. You are taking to api.jujucharms.io
4. Click SSO and you see a 502 error

[2022-03-23 09:03] pedroleaoc commented on #1297
I see a 502 error when I click `Or login with email address`. I don't get an error when I click SSO-I am redirected to `https://login.ubuntu.com/`.

[2022-03-23 09:38] jkfran commented on #1297
I wouldn't say this is an old API. It is the URL available for Candid. The store team and charmcraft are using it as well:

![image](https://user-images.githubusercontent.com/6353928/159667482-b037f0cd-c0a4-4362-9da8-44c687051922.png)

You mention "old API" because it is under the jujucharm.io domain, but Candid is independent of that API.

We (the web team) requested changes to the Candid authent

[2022-03-23 09:49] pedroleaoc commented on #1297
I created a new Ubuntu One account and I can confirm I see a 502 error either via Ubuntu SSO button or `charmcraft login`. My new account's email is `pedrolea.oc at gmail.com`. I have no problems logging with my `@canonical` email.

[2022-03-23 09:54] pedroleaoc commented on #1297
This is the log for my `charmcraft login` with a brand new email:

[code]

[2022-03-23 10:08] anthonydillon commented on #1297
When running the site locally and trying to log in. I am getting:
[code]

[2022-03-23 10:20] jkfran commented on #1297
@anthonydillon use http://localhost:8045 to run the project.

[2022-03-23 10:24] anthonydillon commented on #1297
When using localhost I get the following error:
![image](https://user-images.githubusercontent.com/1413534/159678291-14cf1161-d167-44c5-a83e-194d753e0d19.png)

[2022-03-23 10:37] anthonydillon commented on #1297
So a clean build fixed it locally for me. Also logging out and back in worked in production for me.

[2022-03-23 11:32] Lukewh commented on #1167
Formatting has been improved with https://github.com/canonical-web-and-design/charmhub.io/pull/1294. We'll look into adding type hints now :)

[2022-03-23 13:42] #1297 closed

[2022-03-23 14:07] Lukewh opened #1299 "Align icons on details page"

[2022-03-23 14:23] #1299 closed

[2022-03-23 14:49] Lukewh opened #1300 "Redirect /search to /, preserving the `q` query param"
# edit
Title changed 'We need a search page' -> 'Redirect /search to /, preserving the `q` query param'
**old description:**
The 404 stats don't lie
![image.png](https://images.zenhubusercontent.com/59316f3551aa2c3057803f4b/559fb7de-5f0d-46fa-966e-f9a1ad52f184)
we are showing **A LOT** of people a 404 when we could be helping them discover charms

2 options:
1. create a proper search page
2. redir

[2022-03-23 15:25] Lukewh commented on #1300
Let's do a redirect for now and keep this data point in our back-pocket for the marketplace alignment UX will be doing.

For both snapcraft.io and charmhub.io /search seems like an important page to get right

[2022-03-23 15:28] Lukewh commented on #1296
Thanks for the suggestion @afreiberger, I've added it to our next iteration (starts next week) :)

[2022-03-23 15:39] evilnick commented on #1296
I believe this is a limitation of the version of discourse we are using, which doesn't generate ids automatically for each heading. Currently docs authors have to manually create the id tags to make anchors for docs

[2022-03-23 15:42] Lukewh commented on #1296
We can add them on the Charmhub details page by generating the ID at render. It would make them change if headings etc. change, but should be ok for the majority of cases?

[2022-03-23 16:11] Lukewh commented on #1300
Fixed by #1303

[2022-03-23 16:13] #1300 closed, assigned to Lukewh

[2022-03-23 17:00] pmatulis commented on #1296
In this particular case of a charm's landing page in the Charmhub, the Markdown source does not reside in Discourse but in the charm's repository.

[2022-03-24 09:23] Lukewh commented on #1293
Bring it up with Vanilla

[2022-03-24 10:38] spencerbygraves commented on #1275
I've spoken to @Lukewh about using this [Vanilla pattern](https://vanillaframework.io/docs/examples/patterns/empty-state/no-content) with this [icon](https://assets.ubuntu.com/v1/4de1c56c-404_v1.svg).

[2022-03-24 13:16] #1275 closed

[2022-03-25 13:01] szeestraten-ntnu opened #1304 "Search for magpie charm does not show results"
I am searching for charms with the name `magpie` on https://charmhub.io/ which returns no results.

![image](https://user-images.githubusercontent.com/25442190/160125408-af32eeb4-0d06-42d5-b26e-dcdab287132d.png)

However there are at least 3 charms with `magpie` in the name according to Google search:

![image](https://user-images.githubusercontent.com/25442190/160125343-84c9e061-4f9e-4363-a5d4-c6

[2022-03-25 13:52] Lukewh commented on #1304
Thanks for the report. It looks like those charms are marked as unlisted by the publishers, which means they won't show on the Charmhub search (but you can visit the URL directly). The bug here is that we're not telling search engines to **not** index these pages on charmhub.io. We'll work on a fix, thanks :)!

[2022-03-25 14:05] szeestraten-ntnu commented on #1304
Hi @Lukewh, thanks for your quick reply. Just to double check, are they unlisted by active choice of the owner or because of a default setting when they got migrated from the old Charmstore? I would assume that the charm in the old `openstack-charmers-next` namespace was not private/hidden.

[2022-03-28 15:59] Lukewh commented on #1167
@heitorPB digging deeper into the type hints - we recommend that you follow the "How to document your charm library" [0] to ensure types are properly displayed. The primary reason we recommend types be included in docstrings is to maintain a single source of truth, and secondly to ensure what is displayed to users is precisely what the library author intends.

We use the built-in python ast module

[2022-03-28 15:59] #1167 closed

[2022-03-29 08:02] Lukewh commented on #1304
@szeestraten-ntnu, I'm not 100% certain, but I believe the migration made select charms unlisted so I'm not sure for individual charms, that would be a question for the charm maintainer.
An update on the issue described in this PR - the store team will have the API updated with the relevant fields for the front end in the next week.

[2022-03-29 08:26] szeestraten-ntnu commented on #1304
@Lukewh OK, thanks for the update. Looking at the [Charmhub Transition FAQ](https://discourse.charmhub.io/t/charmhub-transition-faq/5636) I see that _all_ non-promulgated charms that were migrated are hidden by default from search by a flag which is a shame as I am sure there are many charms which will be hidden and charm authors who have not picked up on this.

[2022-03-31 14:20] pedroleaoc opened #1311 "Resources do not show date"
If you go to a charm's resources page (https://charmhub.io/finos-legend-studio-k8s/resources/studio-image), you can't see the revision number for a resource, but not the date information.

![image](https://user-images.githubusercontent.com/5586487/161077565-11283603-a90a-4678-ba36-85add5ff5190.png)

You can get this information via the API:
[code]
[code]

[2022-04-01 08:31] clagom opened #1312 "Add the list of charms that are in the bundle [bundle detail page]"
###  [bundle detail page]
It would be very useful to have the list of the charms that a bundle contains displlayed in the "overview" landing page of the bundle:

![Screenshot 2022-04-01 at 09.28.36.png](https://images.zenhubusercontent.com/5b0d889d89d5dc41604fa14c/379b8bec-c2ae-4918-a647-5e3a422f65b5)

Above "relevant links"
Similar to the list we display in "configure" tab, but could be a static

[2022-04-01 09:20] jnsgruk opened #1313 "Library introduction on individual charms is too long/misleading"
Hi folks

Have had a couple of discussions with @evildmp and Holly, I think the "Introduction" page we display on Libraries tab per charm is far too long, and even misleading in places. I have attached a screenshot, where the intro gives examples about MySQL, despite the charm being [Prometheus](https://charmhub.io/prometheus-k8s/libraries).

My suggestion is that we either remove this "Intro" sec

[2022-04-01 10:32] lyubomir-popov commented on #1312
Assigning to myself to do part of the work here after speaking to @AnnSoMuller.
I'll focus on creating a clear visual distinction between single charms and bundles.

[2022-04-04 08:27] Lukewh commented on #1313
I'll take a look to see how this intro is being added and move forward accordingly. If we're injecting it (which I imagine we are), we should look to improve the UX - people don't want to read an intro, they want to see the libraries - if libraries exist.

[2022-04-04 08:33] lyubomir-popov opened #1325 "Propose bundle clearer design for charmhub cards -work with AnnSo"

[2022-04-04 08:53] #1304 closed

[2022-04-04 12:20] lyubomir-popov commented on #1312
My proposal:

![image.png](https://images.zenhubusercontent.com/59d2496bb0222d5de479ea17/a75d7fcb-cb93-423c-9492-5836474b2c27)

[2022-04-05 08:20] clagom commented on #1312
Hey @lyubomir-popov thanks for the proposal. It is something we can explore for sure, but the original ticket was about detail page only. I think there it's a 0-effort win that we can apply directly.
The other one is a proposal that we need to explore and discuss with Holly and others. Can you please maybe revert the original issue and open a new one for the rest? Thanks! CC @Lukewh @AnnSoMuller

[2022-04-05 08:32] lyubomir-popov opened #1315 "Update charm hub cards so bundles are visually distinct from individual charms"
###  [Home page]
It would be nice to have the list of Charms displayed in the cards of Bundles
![Screenshot 2022-04-01 at 12.04.20.png](https://images.zenhubusercontent.com/606c1e6c5aab87d8cd196107/9d8d70e9-4a33-486b-952b-b776a461e9c9)
It could emphasis the visual distinction between Charms and Bundles
It could be the icon with the +XX that expand, a tooltip or within the Card itself etc.
To be ex

[2022-04-05 08:35] lyubomir-popov commented on #1312
Ah sure sorry @clagom I was pointed to this issue and thought I should submit the proposal here. I've moved it to https://github.com/canonical-web-and-design/charmhub.io/issues/1315

[2022-04-05 08:39] clagom commented on #1312
Thanks @lyubomir-popov

[2022-04-05 18:52] Gleland opened #1316 "publish date for hw-health charm is incorrect on charmhub page"
Currently on the [hw-health charm page](https://charmhub.io/hw-health?channel=edge), it states that the latest publish for the edge channel was March 2nd, 2022. However, from the [latest merge](https://code.launchpad.net/~jplettman/charm-hw-health/+git/charm-hw-health/+merge/415348) for this repo, i see a change being merged in on March 9th, meaning that the building and publishing to this channel

[2022-04-05 18:53] Gleland commented on #1316
closing this because I can't read dates, apparently.

[2022-04-05 18:53] #1316 closed

[2022-04-06 08:41] AnnSoMuller commented on #1315
relates to #2395

[2022-04-06 08:42] AnnSoMuller commented on #1315
thanks @lyubomir-popov for that proposal, I already implemented the visual suggestions for #2395

[2022-04-06 08:46] AnnSoMuller commented on #1315
I have suggested changes in the Fima file and agree and the decision made :)
So +1 for me :)

[2022-04-06 08:50] AnnSoMuller commented on #1312
relates to #2395 and #1315

[2022-04-06 09:01] spencerbygraves commented on #1315
@lyubomir-popov @AnnSoMuller I have a couple of thoughts.

What does this look like on the details page?

Also, not every charm has an icon, how do we avoid a list that shows a number of grey/blank icons? From memory the current design picks the first two specified by the author, if that's still the case would we have any way of putting the blank ones at the end? It might be worth testing a few in

[2022-04-06 09:15] AnnSoMuller commented on #1315
@spencerbygraves thanks for these thoughts! :)
Indeed, we have #1312 to think about how to display this list in the detail page: that will require a bit of UX with "final" visual touch.
As far as I am concerned, it is ok to start with the visual distinction that @lyubomir-popov suggested and provide more details like interactive tooltips or labels etc. if there is the required need of a proper lis

[2022-04-06 09:41] Lukewh opened #1317 "Add security.txt"
From https://discourse.charmhub.io/t/charmhub-security-contact/6056

[2022-04-06 17:11] Hollzz opened #1320 "Bug: charmhub.io/topics"
Howdy!

Found a bug on https://charmhub.io/topics - when the window is narrow and the "> Filters" box can be seen, when you click the "> Filters" box, the list of filters appears and immediately disappears, leaving a black screen with the text from the page behind. Please let me know if you need more details!

Best,
Holly

[2022-04-06 17:16] #1311 closed

[2022-04-07 12:27] pedroleaoc opened #1321 "Certain buttons do not work on discourse.charmhub.io"
Hi folks, there are a few key buttons that are not active on discourse.charmhub.io and are key for people being able to keep track of tags.

![image](https://user-images.githubusercontent.com/5586487/162198073-7469a225-d398-45cd-b461-2c17bb07d002.png)

![image](https://user-images.githubusercontent.com/5586487/162198301-8e5e8c79-df55-48e2-939e-d766478a5d93.png)

Thanks,
Pedro

[2022-04-07 16:01] #1320 closed

[2022-04-07 17:55] anthonydillon commented on #1320
I still see this issue on staging.

[2022-04-08 08:24] lyubomir-popov commented on #1315
If an icon is mising, why not a circle with an initial inside it?
Another option would be just a truncated list of names instead of a grid of circles, wth a see more link or something. The dots are nice, but they convey little information.

[2022-04-08 08:25] lyubomir-popov commented on #1315
sorry @cristinadresch I think there's a little more to discuss here

[2022-04-08 08:34] AnnSoMuller commented on #1315
@lyubomir-popov keep in mind that the usec ase here is a visual distinction between Charms and Bundles
We don't focus on solving an assumption of a proper list requirement :)
Indeed, a letter in a circle can improve the point raised by @spencerbygraves

[2022-04-08 11:06] spencerbygraves commented on #1315
Perhaps an adjustment to the existing design would be enough.

![image](https://user-images.githubusercontent.com/9105999/162423722-9e0785ba-af2a-4f7b-a1b2-8d250e7bad82.png)

[2022-04-08 13:14] lyubomir-popov commented on #1315
@spencerbygraves The problem we were trying to solve was making bundles visually distinct enough. As I understood it, the version above was deemed not clear for some reason.

[2022-04-11 12:20] spencerbygraves commented on #1325
I think this issue is a duplicate of [this one](https://github.com/canonical-web-and-design/charmhub.io/issues/1315).

[2022-04-11 12:20] #1325 closed

[2022-04-11 14:11] #1286 closed

[2022-04-11 18:46] camille-rodriguez opened #1326 "Wrong command in livepatch configuration example"
On this page https://charmhub.io/livepatch-charmers-canonical-livepatch-on-prem-bundle , this command `$ juju configure livepatch url_template='http://{haproxy}/patches/{filename}' ` is wrong. It should be
`$ juju configure livepatch url_template='http://{haproxy}/v1/patches/{filename}'`

Confirmed by this page and tests https://ubuntu.com/security/livepatch/docs/on_prem/deployment

[2022-04-12 11:38] tasdomas commented on #1326
This is a bundle readme issue

[2022-04-12 12:38] Lukewh commented on #1326
Indeed - though, it's difficult to know how to contact "Livepatch charm developers" without any contact details on the page.

[2022-04-12 13:41] tasdomas commented on #1326
And that is a charmhub issue :)

[2022-04-12 13:47] Lukewh commented on #1326
The field is there for Livepatch charm developers to add their contact details ;)

https://charmhub.io/livepatch-charmers-canonical-livepatch-on-prem-bundle/listing
![image](https://user-images.githubusercontent.com/479384/162976784-8edd6758-5bad-426a-9912-4b1294d4875d.png)

[2022-04-14 13:03] AnnSoMuller commented on #1315
@spencerbygraves Indeed your suggestion improve the current design :)
However @lyubomir-popov proposal goes a bit deeper, taking into account the discussion we had to provide more information in the Charm detail page, see the next improvement #1312
So that we are going to have a common theme :)
A letter in the bubbles with no icon can be enough a (simple) start and we still have room to iterate if

[2022-04-19 08:44] Lukewh commented on #1274
See https://github.com/canonical-web-and-design/charmhub.io/issues/1275

[2022-04-20 10:37] anasereijo commented on #1272
@AnnSoMuller as discussed see the juju 2.9 warning on the tooltip.

@spencerbygraves not sure if there's anything we can do visually to make this work better? Any thoughts?

![Screenshot 2022-04-20 at 10.55.43.png](https://images.zenhubusercontent.com/5a9531ab4b5806bc2bc88d30/d5b9f196-c6f4-4996-b2b1-1419cc0cbbde)

[2022-04-20 12:19] AnnSoMuller commented on #1272
great! +1

[2022-04-20 12:54] jnsgruk commented on #1272
This looks much more friendly!

Note that it may be worth taking into consideration the `assumes` functionality in later Juju releases that might provide more fine-grained requirements on a per-charm basis: https://juju.is/docs/sdk/assumes

[2022-04-20 14:01] jkfran opened #1330 "Add support for `assumes`"
Note that it may be worth taking into consideration the `assumes` functionality in later Juju releases that might provide more fine-grained requirements on a per-charm basis: https://juju.is/docs/sdk/assumes

_Originally posted by @jnsgruk in https://github.com/canonical-web-and-design/charmhub.io/issues/1272#issuecomment-1103898782_

[2022-04-20 14:03] jkfran commented on #1272
Hi Jon, thank you for having a look. I created an issue about supporting `assumes` so we could work on it as a new feature: https://github.com/canonical-web-and-design/charmhub.io/issues/1330

[2022-04-20 15:06] jkfran commented on #1317
What email should we put?

[2022-04-20 15:23] anasereijo commented on #1315
@spencerbygraves @lyubomir-popov have you come to an agreement regarding this?

[2022-04-21 08:41] Lukewh commented on #1317
I've asked the security team, will update here when they get back to me :+1:

[2022-04-21 09:14] #1274 closed

[2022-04-21 11:25] spencerbygraves commented on #1272
Looks fine to me. Thanks.

[2022-04-21 11:27] spencerbygraves commented on #1315
@anasereijo it sounds like @AnnSoMuller is happy with @lyubomir-popov's solution, with the addition of a letter for charms without an icon. Thanks.

[2022-04-21 12:32] Lukewh opened #1331 "Build updated juju version warning"
Implement https://github.com/canonical-web-and-design/charmhub.io/issues/1272

[2022-04-21 12:56] #1315 closed

[2022-04-21 12:58] #1272 closed

[2022-04-21 14:52] anasereijo commented on #1313
@jnsgruk could you please let us know your thoughts? thank you

[2022-04-21 15:33] AnnSoMuller commented on #1313
works for me :)

[2022-04-22 08:42] jkfran opened #1332 "Implement changes on libraries"
https://github.com/canonical-web-and-design/charmhub.io/issues/1313#issuecomment-1105327105

[2022-04-22 08:42] #1313 closed

[2022-04-22 13:53] #1331 closed

[2022-04-22 14:27] jkfran opened #1334 "Visited charms are purple!"
![image](https://user-images.githubusercontent.com/6353928/164734561-2edb1ded-0e4f-42fd-ae79-ee7587db0494.png)

[2022-04-22 14:37] #1334 closed

[2022-04-25 12:45] anasereijo opened #1336 "interface pages - break out session prep"

[2022-04-26 17:38] #1317 closed

[2022-04-27 12:07] dpravo opened #1340 "Doco corruption at bottom of page https://charmhub.io/keystone-saml-mellon"
The folowing page appears to be corrupted due to XML snippet:

https://charmhub.io/keystone-saml-mellon

I am comparing it to the following:

https://opendev.org/openstack/charm-keystone-saml-mellon/src/branch/master/src

[2022-04-27 15:30] #1332 closed

[2022-04-27 20:09] AnnSoMuller commented on #1312
[here](https://app.zeplin.io/project/623c85b9b27d9fa62165f655/dashboard) is the zeplin file with 2 different options
Knowing that the IA will change soonish with the [documentation discussion](https://docs.google.com/presentation/d/1VIGHoeGW9FwWFLrt4RLa1dbQf3T7caomO-VhDrju578/edit#slide=id.g1245bd5b149_0_67) happening (slide 9 and 10) to have "Docs" and "Overview" merged into a "Home" Tab

[2022-04-28 07:42] Lukewh commented on #1312
A is my preferred. But the new "home" will throw a spanner in the works. I think we should move forward either way, unsure how long it'll take to get the home changes agreed, designed and done. We also need to take into account the list of charms for alignment.

[2022-04-28 08:40] anasereijo commented on #1312
I also like version A the most. 👍
Do we know how many charms a bundle has on average? Will it be a case where we have to display too many? Just wondering if that's the case how well it would fit the layout.

Also, I see we changed how we visually display bundles at the top of the page. I see now we have a tag BUNDLE. Wondering if that's enough to show it's a bundle compared to what we currently ha

[2022-04-28 08:50] steverydz commented on #1312
I concur with @Lukewh and @anasereijo

[2022-04-28 08:53] AnnSoMuller commented on #1312
@anasereijo Thanks!
Here is almost the "worst" case, with 33 Charms (another one has 34, that is the maximum number of Charms within a Bundle). The average is around 5-10.

Visually, we would stay coherent with the visual distinction we have on card.
Indeed, next to the title, we won't have the same icon anymore however this list of icons/logo for the Charms will emphasis the difference :)

![Scre

[2022-04-28 08:54] anasereijo commented on #1312
@AnnSoMuller thanks! looks great 👍

[2022-04-28 14:55] #1296 closed

[2022-04-28 15:25] #1312 closed

[2022-04-28 15:29] #1336 closed

[2022-05-05 15:15] Lukewh opened #1343 "Channel map on mobile is squishy"
![Screenshot_20220505-171422.png](https://user-images.githubusercontent.com/479384/166955661-e0691ae1-487c-4b92-9b5b-8e5f4350dd23.png)

[2022-05-09 14:43] #145 closed

[2022-05-10 14:41] #1326 closed

[2022-05-12 16:56] Roadmaster opened #1344 "Trying to register a reserved charm name gives confusing error message"
Trying to register a reserved charm name in https://charmhub.io/register-name, I get this error message:

The name 'weebl' is not valid. It should only have ASCII lowercase letters, numbers, and hyphens, and must have at least one letter.

This is misleading, it should tell me the name is reserved.

The API should be sending the correct code, but in the charmhub.io Python thingy it gets lumped tog

[2022-05-12 17:05] Roadmaster commented on #1344
I've registered `weebl` manually for the requester, but you can use `zygrib` to test.

[2022-05-13 08:18] jkfran commented on #1344
Thank you for reporting it @Roadmaster

[2022-05-17 12:43] Lukewh commented on #998
This seems to have been addressed, but this issue was lost along the way. Closing it :)!

[2022-05-17 12:43] #998 closed

[2022-05-17 12:46] Lukewh commented on #826
I believe this is related to https://warthogs.atlassian.net/browse/SN-19?atlOrigin=eyJpIjoiOTc3ODI4ZTUxMWFkNGJjMzk5NmMyNjdlMjFlY2YzYWIiLCJwIjoiaiJ9 ? The store team are going to be working on the api this cycle :)

[2022-05-20 18:57] camille-rodriguez commented on #1326
Two things I'd like to add here. First, how do we expect to improve our public docs if we're playing ping pong at "who's responsible" ? This issue was closed without anything being fixed. Sure, it might be the charm team's responsibility, but from the website, the only was to report an issue with the documentation is to "report a bug" here. This is a really bad experience for the user/customer. I'

[2022-05-20 20:01] Lukewh commented on #1326
Hi @camille-rodriguez, thanks for the feedback.

Unfortunately if a charmer doesn't provide information for users to contact them it's difficult for us to know who to forward the request to. In this case we did know, so could have done a better job so I apologize. Long term, however, it's not possible for us to triage issues for every charm or bundle on Charmhub.

A potential solution moving forwa

[2022-05-20 20:26] camille-rodriguez commented on #1326
Hi, thanks for the quick reply here. I understand that responsibilities lie in different teams, and it might be difficult to bridge gaps sometimes. I had reached out to them on mattermost btw and shared this link. Actually, I realize now that @tasdomas was that person and he already commented here. @tasdomas, did you file a separate bug on the charm docs and I'm simply now aware of it ?

I agree t

[2022-05-23 11:20] nobuto-m opened #1346 "Duplicate Platforms in the web page"
For example, this page has two entries for the same `Ubuntu 20.04 18.04 16.04` twice.

https://charmhub.io/etcd?channel=stable

![image](https://user-images.githubusercontent.com/4356209/169808058-ee7c60cd-8f64-412c-a665-9644822a2063.png)

In the different channel, it actually has three entries with the same content.

https://charmhub.io/etcd?channel=edge

![image](https://user-images.githubuserco

[2022-05-23 11:47] steverydz commented on #1346
@nobuto-m Thanks for reporting this issue. We will look into this.

[2022-05-25 10:37] #1190 closed

[2022-05-25 13:07] #1133 closed

[2022-05-25 14:15] #1346 closed

[2022-05-25 14:18] Lukewh commented on #1075
Is this still an issue, I just modified the page in browser, and it seemed to work as expected?
![image.png](https://images.zenhubusercontent.com/59316f3551aa2c3057803f4b/f557a7ba-16d7-43dd-aa11-821c145f77d6)?

[2022-05-25 14:24] steverydz commented on #1346
Thanks for reporting this @nobuto-m. It's now fixed and live in production.

[2022-05-25 20:25] heitorPB commented on #1075
Sweet! And also the MWE now works also.

Do you know if there was any change on CharmHub side?

[2022-05-26 15:29] anasereijo commented on #1106
@anthonydillon I can't replicate this issue – can you please confirm if it's still happening? If so, some screenshots would be helpful. thanks!

[2022-05-26 15:48] anasereijo commented on #1049
The [UX work for a new Integrations tab](https://app.zenhub.com/workspaces/-marketplace-tribe-593688b45aa7c527b96f9401/issues/canonical-web-and-design/marketplace-tribe/2243) on charmhub.io is now completed. You can see the wireframes on [Zeplin](https://app.zeplin.io/project/61f0185764e363a52fb01377?seid=62349a2988510d97b0efdf3a).

The [visual work and implementation](https://app.zenhub.com/works

[2022-05-26 15:48] #1049 closed

[2022-05-26 18:36] Lukewh commented on #1075
The internal module we use for flask apps is constantly updated so at some point the security policy for embedding those pages was relaxed :)!
Closing this issue, please reopen if you still have problems. Thanks for the report!

[2022-05-26 18:36] #1075 closed

[2022-05-27 11:02] #1344 closed

[2022-05-27 11:48] #1340 closed

[2022-06-15 13:56] PietroPasotti opened #1356 "Icon not being displayed on charms not yet released to stable."
There seems to be an issue that charms that are released to edge don't have their icon display on charmhub.
For example, at the time of writing, this charm https://charmhub.io/traefik-route-k8s has an icon.svg at its root that (to the best of my knowledge) satisfies all specs and guidelines, and yet won't show.
Source: https://github.com/PietroPasotti/traefik-route-k8s-operator

I've been told tha

[2022-06-15 14:00] PietroPasotti opened #1357 "Add some way of 'checking'/'testing' a charm icon prior to release."
Many people face issues when adding an icon to their charm. It has to be done just once, sure, but many miss the '100x100' constraint and changing the icon means a new release, which is (some) work...

So why not:

have a page on charmhub where users can 'test' their icons. Ideally a drop zone where you can drop a .svg and it will check
- the file name is `icon.svg`
- the format is right
- it is a

[2022-06-15 14:32] jkfran opened #1358 "Add filter to filter by charm or bundle"
The solution we propose is to add a Filter by All/Charms/Bundles. In terms of consistency, this dropdown will be on the left-hand side, below the category filters.

![image](https://user-images.githubusercontent.com/6353928/173853272-55813d92-e27c-4d13-8622-14d60c80f6e0.png)

[2022-06-15 14:35] jkfran opened #1359 "Charm/Bundle visual distinction"
We want to emphasise the visual distinction between charms and bundles by improving the Bundle card visual.

![image](https://user-images.githubusercontent.com/6353928/173853729-1b50d468-4821-44f2-b87d-9aa502b30441.png)

Edge case: When a charm doesn’t have any icon, the circle shows the first initial in it.

[2022-06-15 14:37] jkfran opened #1360 "Bundle details page changes"
![image](https://user-images.githubusercontent.com/6353928/173854308-016b51f1-d23a-4b0a-a1b3-69a46a0aadf1.png)

[2022-06-15 15:45] jkfran commented on #1356
Hello Pietro, @Roadmaster confirmed with us that it is like this by design. He also told us the trick you are mentioning here, which is to release to stable and the close stable if you don't want to have a release on stable.

In any case, this is the repository for the Charmhub website. To report this issue to the store team, I think you need to use: https://bugs.launchpad.net/snapstore-server/+fi

[2022-06-16 07:19] PietroPasotti commented on #1356
Got it, thanks!

[2022-06-16 07:19] #1356 closed

[2022-06-21 12:11] #1076 closed

[2022-06-21 12:40] Lukewh opened #1363 "Tablet filter button looks broken"
![image.png](https://images.zenhubusercontent.com/59316f3551aa2c3057803f4b/7dec435d-638d-40cb-8522-96a22d0359da)

[2022-06-23 10:00] #1358 closed

[2022-06-23 12:42] Lukewh commented on #1015
This is now ready to implement.

[2022-06-23 13:04] #1015 closed

[2022-06-23 15:44] jkfran commented on #1103
We can close this issue now. Thank you.

[2022-06-23 15:44] #1103 closed

[2022-06-27 12:56] anasereijo opened #1368 "/charms - notification close button is broken"
After register a charm/bundle we go back to /charms page and see a notification. The close icon looks broken. see screenshot

<img width="1194" alt="Screenshot 2022-06-27 at 13 48 27" src="https://user-images.githubusercontent.com/36884067/175946826-799eae95-3c72-4b1c-8b2c-33f2ef718d05.png">

[2022-06-27 15:04] #1368 closed

[2022-06-30 09:19] knotuteye opened #1370 "Bundle icons not showing in filtered list of bundles"
To reproduce, navigate to: [https://charmhub.io/?base=all&type=bundle](https://charmhub.io/?base=all&type=bundle)

OR

1. Navigate to charmhub.io
2. FIlter by Bundles
3. Refresh

<img width="1190" alt="Screenshot 2022-06-30 at 9 19 13 AM" src="https://user-images.githubusercontent.com/36668279/176641130-fa81a79b-31bf-41ff-a5e9-bfc45f07d333.png">

[2022-07-05 11:26] steverydz opened #1372 "README PR checks badge shows as failing"
![Screenshot 2022-07-05 at 12 25 41](https://user-images.githubusercontent.com/501889/177317307-1dc24d26-07b5-4f8b-9a6f-b3c5c9682cbb.jpg)

[2022-07-05 15:12] #1372 closed

[2022-07-15 07:14] erik78se commented on #1357
This would be very good since its impossible today to know how it will look until you actually publish a charm. Its a painful process to create the icons today.

[2022-07-15 07:36] PietroPasotti opened #1375 "Better community story"
At the moment if I develop a charm it's difficult to get feedback from the users re:
 - the charm itself
 - the documentation of the charm
 - whether people are using the charm or not
 - be notified when there are updates to the charm

 Features that could address these issues:
  - usage statistics graph (downloads per month?) in the charmhub charm homepage
  - a [discuss] button on the charmhub c

[2022-07-27 14:07] #1359 closed

[2022-07-28 13:05] #1360 closed

[2022-07-29 12:30] Lukewh commented on #1357
I've created a spec for my proposal here: https://docs.google.com/document/d/14Aep5AUbYtQWUhRE5AJsv3Myqv0el3P3QRiqYdorI-8/edit#

Anyone not within Canonical that wants to have a read, I'm happy to put it somewhere more public, please let me know :). But the tl;dr:
Create a SPA at charmhub.io/icon-validator that can be embedded on both the [docs page about icons](https://juju.is/docs/sdk/create-an-

[2022-08-03 10:26] Lukewh commented on #1357
I believe the spec is at a stage where work can start. Summary:

[2022-08-09 15:25] sed-i opened #1384 "Add support for mermaid diagrams in charm/lib docs"
As the ecosystem grows it becomes valuable to convey information in diagrams.

At the moment, the observability team uses mermaid to outline charm deployment scenarios, for example:

- https://github.com/canonical/prometheus-scrape-config-k8s-operator/blob/main/INTEGRATING.md
- https://github.com/canonical/grafana-agent-k8s-operator/blob/main/INTEGRATING.md#deployment-scenarios

Other examples:
-

[2022-08-10 08:21] Lukewh opened #1385 "Generate navigation for README"
On the details page, extract headings and create an index on the left side

https://app.zeplin.io/project/62b3873c5073061fe6090efc/screen/62b38864a867bd21f5132fff

[2022-08-10 18:11] sed-i opened #1386 "Display library patch version on library page"
To check the version of the library one must display source code and scroll down to `LIBPATCH`.
It would be handy if the lib page showed the full version at the top, e.g. `Library version 0.22`.

![Screenshot from 2022-08-10 14-06-46](https://user-images.githubusercontent.com/82407168/183985807-f79e1976-2b27-486c-9a98-de185376c247.png)

[2022-08-15 10:24] Lukewh opened #1387 "TypeError/<regex("[A-Za-z0-9-]*[A-Za-z][A-Za-z0-9-]*"):entity_name>/docs: 'NoneType' object is not iterable"
https://sentry.is.canonical.com/canonical/charmhub-io/issues/27153/?referrer=RegressionActivityEmail

[2022-08-16 15:14] Lukewh commented on #1370
Fixed as part of the bundle visibility work :+1:

[2022-08-16 15:14] #1370 closed

[2022-08-19 15:23] mthaddon opened #1389 "Footer of charmhub has incorrect sizing for blog link"
In the footer of charmhub.io I see the following html:
[code]
Part of the text for this blog is within the `<small>` tag and part of it isn't - it should be one or the other.

[2022-08-22 15:27] #1389 closed

[2022-08-22 18:19] #1385 closed

[2022-08-24 18:29] heitorPB opened #1392 "Inconsistent display of the Resources tab"
Hi,

I just noticed that the "Resources" tab on Charmhub only appears if the charm has uploaded resources, but does not appear when 1) there are resources that are not uploaded to Charmhub and 2) there are no resources at all.

This is not consistent with the other tabs (Docs, Libraries, etc): they always appear in there, regardless of having content or not.

I'd like to request the Resources tab

[2022-08-24 20:00] anasereijo commented on #1392
Hi @heitorPB, thanks for taking the time submitting this issue.

You are totally right, we should display the 'Resources' tab even if there are no resources uploaded to that charm. Not only for consistency with what we do on other tabs (Docs and Libraries, as you correctly mentioned), but also to encourage developers to upload them.

I suggest adding the 'empty state', similar to what we do on Lib

[2022-08-24 20:00] anasereijo commented on #1392
@Lukewh I think this can be a good issue for our next work together session :)

[2022-08-24 20:03] heitorPB commented on #1392
That makes a lot of sense.

Thanks for looking into this.

[2022-08-25 14:14] steverydz commented on #1392
@heitorPB this should be fixed now

[2022-09-01 03:09] nobuto-m opened #1396 "Anchored link doesn't quite work with a new tab"
Charmhub has an anchored link/id to each charm config option. e.g.,
https://charmhub.io/ceph-osd/configure#ephemeral-unmount

However, the rendering is different between when the anchored link is clicked after opening the page and when the anchored link is opened directly as a new tab.

[`ephemeral-unmount` on the left pane was clicked after opening the charm page]

![Screenshot from 2022-09-01 12

[2022-09-01 07:54] steverydz commented on #1396
Thanks for raising this issue. We'll look into this.

[2022-09-01 09:48] steverydz commented on #1396
Hi @nobuto-m. A fix for this has been deployed.

[2022-09-01 10:01] nobuto-m commented on #1396
Hmm, it actually has a trickier behavior now.

[new tab]
![image](https://user-images.githubusercontent.com/4356209/187887550-b127c351-188c-4afa-a426-680ddaad0c78.png)

^^^ left pane not highlighted, right pane has some extra space on the config title.

[in page clicking]
![image](https://user-images.githubusercontent.com/4356209/187887814-b4ba468d-acec-4c07-854c-c7bd89e77f43.png)

^^^ works as ex

[2022-09-01 16:13] #1396 closed

[2022-09-01 18:33] pmatulis opened #1399 "Information provided for a charm does not correspond to the selected revision"
As I understand it, the information displayed in a charm's tabs (Description, Resources, Libraries, Configure, Actions, etc) is borne out of the revision pointing at the charm's `default-release` key, which is usually the `latest/stable` channel. This means that when an alternate channel is selected in the Charmhub all the above information can potentially become inaccurate. Some charms differ sig

[2022-09-02 06:12] nobuto-m commented on #1396
I'm not sure if the new changes have been provisioned or not. But as of right now, the page has a mixed behavior of the initial set of issues:
https://github.com/canonical/charmhub.io/issues/1396#issue-1358183452
and the second set of issues:
https://github.com/canonical/charmhub.io/issues/1396#issuecomment-1234049368

[2022-09-02 07:01] mthaddon opened #1400 "Unable to change charm homepage"
I just tried to change the charm homepage on https://charmhub.io/nginx-ingress-integrator/listing from `https://launchpad.net/charm-k8s-ingress` to `https://github.com/canonical/nginx-ingress-integrator-operator`. When I hit the "save" button it tells me "changes successfully applied" but the homepage field still shows the launchpad location rather than github location.

[2022-09-02 07:58] steverydz commented on #1396
Hi @nobuto-m. The changes were put live towards the end of yesterday. It's possible that you might need to clear your cache as we can produce the problem since the changes have gone live.

[2022-09-07 05:54] nobuto-m commented on #1396
Can you please revisit this? It still has some mixed behaviors to me.

Here is a recording with Chromium v105.

https://user-images.githubusercontent.com/4356209/188799115-d4dad8db-7c54-4226-80e9-fc5e83456e0e.mp4

Also, it looks like it behaves trickier with Firefox.

[2022-09-09 14:12] jkfran commented on #1400
This issue is coming from the API. Here is what's going on:

**Charm without website previously specified:**
It works fine. You can log in as a publisher and set up an URL. Behind the scenes we are using this endpoint: https://api.charmhub.io/docs/default.html#update_package_metadata (`PATCH` HTTP method) with the following payload:
[code]

**Charm with website previously specified:**
Here is the

[2022-09-09 20:40] tartley commented on #1400
Snap store team have identified the problem and a possible fix. I'll work on something the remainder of today, shooting for a release on Monday.

[2022-09-13 13:56] jkfran commented on #1400
Hello @tartley, thank you for looking into it. Any updates?

[2022-09-15 13:12] tartley commented on #1400
Does this work? I made a diagram while diagnosing what was going wrong, and at that point it was easy to cut-and-paste the same diagram to illustrate the fix.
![sequence](https://user-images.githubusercontent.com/137979/190412295-a7879c31-471a-4832-a2bd-5680e34af58a.svg)
The change has taken longer than I thought because 'website' is not the only affected field, but it's getting there now. I'll po

[2022-09-15 14:22] jkfran commented on #1400
@tartley Thank you for keeping us posted.

[2022-09-20 12:36] steverydz commented on #1106
This was fixed in a previous issue.

[2022-09-20 12:36] #1106 closed

[2022-09-23 12:19] PietroPasotti commented on #1357
Hi @Lukewh, can we have a status update on this?

[2022-09-29 06:57] mthaddon commented on #1400
@tartley hi there, things still progressing on this one? Wondering if you have an estimated timeline, just so I know when to check in again?

[2022-09-29 15:13] tartley commented on #1400
Hi. Sorry this has taken ages. I keep converging on a fix and then realizing I've broken everything else. Dumb mutable structures being used in different places in the code. I have a handle on it now, [first MP](https://code.launchpad.net/~tartley/publishergw/+git/publishergw/+merge/430762) submitted, more to follow very soon.

[2022-09-30 02:39] Smeeno1 opened #1404 "Tutorial deployment fails"
The link to deploy Charmed Kubernetes using JAAS fails with 404 Page not Found error. Link https://jujucharms.com/new/?dd=cs:bundle/canonical-kubernetes is not reachable from tutorial page https://juju.is/tutorials/get-started-charmed-kubernetes#2-deploy-charmed-kubernetes-with-jaas

[2022-10-04 08:27] mthaddon opened #1407 "Update links to some charms on homepage"
Please update some links to charms currently listed on the homepage:

* Discourse should link to https://charmhub.io/discourse-k8s. Please also remove https://charmhub.io/discourse-charmers-discourse-k8s from search results on charmhub (for "discourse", for instance).
* Jenkins-Agent should link to https://charmhub.io/jenkins-agent-k8s. Please also remove https://charmhub.io/jenkins-ci-charmers-je

[2022-10-04 12:15] Lukewh commented on #1357
Sorry, I've been having some issues with dependencies and trying to work on this while doing other things. Finally, got the PR working, just waiting for review and to deploy it.

[2022-10-04 12:25] Lukewh commented on #1357
This is now live https://charmhub.io/icon-validator

[2022-10-07 13:11] Lukewh commented on #1400
@tartley any update on the subsequent MP's?

[2022-10-07 19:04] pmatulis opened #1410 "[RFE] Include support for displaying contents of the `CONTRIBUTING.md` file"
The `charmcraft` tool has as a by-product of the charm build process the file `CONTRIBUTING.md`. This file should be taken into account when displaying information in the Charmhub. It would inform viewers on how to contribute to the charm.

[2022-10-12 07:47] axinojolais opened #1412 "Can't find the ubuntu-advantage charm"
Hi,

The ubuntu-advantage charm exists : https://charmhub.io/ubuntu-advantage

Yet it doesn't come up in search :
https://charmhub.io/?q=ubuntu
https://charmhub.io/?q=advantage
https://charmhub.io/?q=ubuntu-advantage

Is there a reason for that ? UA is an official Ubuntu product, so it seems strange.

Thanks

[2022-10-12 20:11] tartley commented on #1400
QA of my MPs is finally done. Awaiting a slot to deploy to prod, which only happens during "Americas" team office hours, so probably will go out at around noon tomorrow UTC.

[2022-10-13 00:26] tartley commented on #1400
@Lukewh This is deployed to prod now and seems to be working. Apologies for the delays.

[2022-10-13 07:56] mthaddon commented on #1400
Thanks, I can confirm it's working, will close out this issue.

[2022-10-13 07:56] #1400 closed

[2022-10-18 17:21] sudeephb opened #1415 "Add `copy to clipboard` button"
It would be handy to have a `copy to clipboard` button beside the `juju deploy <charm>` command in the charmhub UI(to copy the deploy command).

[2022-10-18 18:34] anthonydillon commented on #1415
We understand that this is a commonly available function on sites like this. But we deem it risky to paste copied commands programmatic into production environments. Therefore, we have opted to omit this functionality and rely on direct copy and paste of the text or typing of the commands.

[2022-10-18 18:34] #1415 closed

[2022-10-19 02:51] hloeung opened #1416 "Charmhub shows the architecture / series supported by the highest revision"
Hi,

We're in the process of migrating our charms to use Launchpad to build, this is to address the various Python depencenies per https://github.com/juju/charm-tools/issues/647.

Unfortunately, charmhub.io shows the supported series and architecture of the highest/latest revision, see autocert for example here https://charmhub.io/autocert-charmers-autocert

It shows as 22.04 on arm64 and nothing

[2022-10-24 17:07] mthaddon opened #1417 "charmhub incorrectly recognises a charm's substrate"
Currently https://charmhub.io/nginx-ingress-integrator is listed as "Ubuntu 20.04" in terms of platform. However, this is a k8s charm, as denoted by the following in metadata.yaml:

[code]

[2022-10-25 09:22] mthaddon commented on #1412
To do this we need to create a post on Discourse in the charm requests category (https://discourse.charmhub.io/c/charmhub-requests/46) asking for the charm to be searchable.

[2022-10-26 12:05] Roadmaster commented on #1417
I would like to have some documentation on what the possible values for "assumes" are, before updating the rule that determines `deployable-on`. Can you or Tom point us to it?

Thanks!

[2022-10-26 13:15] tmihoc opened #1418 "Collapsible navigation levels for Observability Stack docs"
@0x12b likes the collapsible side bar on this page https://juju.is/docs/sdk and would like the same for this page: https://charmhub.io/topics/canonical-observability-stack . Would that be possible? When? Thanks in advance!

[2022-10-26 14:29] bartaz commented on #1418
Thanks @tmihoc, Marketplace devs should be able to pick it up from here.

Reusing the template (and accompanying JS) from juju.is should do the trick (possibly navigation levels needs adjusting in the config if needed). It's documented in more detail in discourse: https://discourse.canonical.com/t/creating-discourse-based-documentation-pages/159

If there are any issues with that I should be able

[2022-10-26 15:30] mthaddon commented on #1417
All I can find is https://juju.is/docs/sdk/assumes but that doesn't seem to cover all the values (it seems like it can be anything).

[2022-10-27 16:50] Roadmaster commented on #1399
We can explore feasibility of allowing the `/info` API endpoint (which powers the pages you refer to) to accept a "channel" parameter and exposing the information of the revision released in that channel, rather than the default one.

This would have to be done on the charmhub.io backend, and would need a bunch of internal wiring to fetch this info from the revision service which is an extra API c

[2022-10-27 18:09] pmatulis commented on #1399
One big use case is having docs submitted to a Discourse channel, which is the recommended method, to be called upon by Charmhub so that the correct docs are displayed.

I understand that, after speaking with @Roadmaster out of band, as long as the `docs:` key (in a charm's `metadata.yaml` file) points to the correct Discourse URL then it should be possible. The key will just now need to be made u

[2022-11-02 14:37] pmatulis commented on #1399
It appears that I was wrong with respect to the tabs. That is, the **Actions** tab displayed *is* accurate according to the selected channel. However, my use case involves Discourse-based docs. Should this not also be possible if each track is backed by a unique git branch?

[2022-11-07 11:33] juanmanuel-tirado commented on #1417
At this point Juju only processes `juju` and `k8s-api` assumes AFAIK. See the code [here](https://github.com/juju/juju/blob/3bcdab2bc7812d8ce350a16330a9138db995e5d5/core/assumes/feature_descriptions.go#L12)

[2022-11-08 14:21] tmihoc opened #1421 "Collapsible navigation levels for Charmed Kubeflow docs"
@andreeamun  likes the collapsible side bar on this page https://juju.is/docs/olm and would like the same for this page: https://charmed-kubeflow.io/docs . Would that be possible? When? Thanks in advance!

@bartaz pinging you because you recently helped with https://github.com/canonical/charmhub.io/issues/1418 and this is similar.

[2022-11-09 20:07] verterok commented on #1399
It is possible to get specific channel contents in default-release by using a channel param, e.g: `&channel=edge` in the request to `/info` *BUT* the channel-map content is restricted to the selected channel.
Please let us know if this works for you to implement the channel switching for the requested data via the dropdown.

Cheers

[2022-11-15 13:51] jkfran commented on #1399
We already request the `info` endpoint with the `channel` parameter. And then, to obtain the `docs` property, we parse the metadata.yaml from this field in the API response `default-release.revision.metadata-yaml`.

[2022-11-15 13:58] verterok commented on #1399
@jkfran that's the correct field :+1:
So, things should be working. Could be a caching related bug?

[2022-11-15 14:05] jkfran commented on #1399
The cache seems to be fine because our URLs also include the `?channel=edge` so the cache will cache per track.

I think the issue might be because this parameter in the URL is not persistent when clicking around.

[2022-11-15 14:08] jkfran opened #1423 "Requested track is not persistent"
To reproduce this issue:

1. Visit https://charmhub.io/mattermost-k8s?channel=edge

2. See that the selected track is:
![image](https://user-images.githubusercontent.com/6353928/201939687-332bbc90-12a6-4691-adfb-c12fcffd9c10.png)

3. Click on any documentation link, and the track will be stable when it shouldn't:
![image](https://user-images.githubusercontent.com/6353928/201939866-d48bdd96-9cf0-49

[2022-11-15 14:09] jkfran commented on #1399
I created another issue for this track selection problem: https://github.com/canonical/charmhub.io/issues/1423

[2022-11-15 14:33] mthaddon commented on #1407
Have also filed this on discourse - https://discourse.charmhub.io/t/some-updates-to-charmhub-homepage-links/7417.

[2022-11-16 15:06] #1423 closed

[2022-11-24 13:48] Lukewh commented on #1421
I think this should be filed on https://github.com/canonical/charmed-kubeflow.io/issues instead?

[2022-11-24 13:49] Lukewh commented on #1412
Is there an action for the charmhub.io website maintainers for this? Is it being tracked somewhere else?

[2022-11-24 13:53] Lukewh commented on #1416
I'm not 100% sure what you mean. But if you click the dropdown to show the channel map do you not see the supported series and architectures for each channel?
If you click on one of those channels the top right of the header should also update.

![image](https://user-images.githubusercontent.com/479384/203800849-8effac86-e47e-4531-8831-3eb7a55511ff.png)

[2022-11-24 13:55] Lukewh commented on #1417
Is this being tracked somewhere else? Happy to leave this issue open until we hear more, but it sounds like there's nothing for the webteam to do for now.

[2022-11-24 15:10] tmihoc commented on #1421
@Lukewh thanks, filed it there now: https://github.com/canonical/charmed-kubeflow.io/issues/135

[2022-11-24 19:53] hloeung commented on #1416
We're moving to per-series & per-architecture charms per https://github.com/juju/charm-tools/issues/647#issuecomment-1281832894 and in particular, https://discourse.charmhub.io/t/charmcraft-bases-provider-support/4713.

So each revision is for a specific series plus architecture. In the above, `110` is built for and would only be guaranteed to work on `Jammy` (`Ubuntu 22.04` per the above) and `ar

[2022-11-24 20:09] hloeung commented on #1416
I just noticed that there is a drop down for architecture so maybe these can be moved into that. But right now, there's a bug there too that it only shows amd64, see attached.
![5UkaweuU0Q](https://user-images.githubusercontent.com/95021/203857925-da928ef1-bf9e-447b-bf2b-709b8bf416fa.png)

[2022-11-25 09:26] mthaddon commented on #1417
@Roadmaster is there an update on this? Should we be tracking the issue elsewhere?

[2022-11-25 09:34] mthaddon commented on #1412
I think it's fine to close out this issue. The question of the charm name and ownership (given UA has been renamed to Pro) is still under discussion, and we can address the searchability of the charm as part of that.

[2022-11-25 13:10] Lukewh commented on #1412
Thanks @mthaddon

[2022-11-25 13:10] #1412 closed

[2022-11-25 13:15] Lukewh commented on #1416
I see, we'll look into fixing this. Also, that does seem to be a bug with the current switcher, we'll take a look at that too :)!.

[2022-11-29 03:23] rahulsinghcanonical commented on #1386
The reason the library version is 0 is because in the code it is printing the api_version (of the API call which is 0). This is not the library version.

If you look at the libraries_layout.html file:
[code]
which is coming from webapp/store/views.py file
             `library = publisher_api.get_charm_library(entity_name, library_id)`

The get_charm_library is defined in
https://github.com/canoni

[2022-11-29 13:23] arturo-seijas commented on #1407
Hi! Any news about this @Roadmaster ?

[2022-11-30 14:45] Lukewh commented on #1407
The PR above makes the changes to the homepage items, but it will not remove the previous charms from search results.

[2022-11-30 14:59] arturo-seijas commented on #1407
Is there any action needed from our side for that?